<!-- file name must be index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
 {{>headlink}}
</head>
<body>
   {{>navbar}}
   <!-- main header -->
   <div class="container-fluid main_header">
     <div class="row">
        <!-- left side div -->
        <div class="col-md-12 col-12 main_header_right align-items-center">
            <figure class="err404">
            <img src="images/404err.jpg" alt="aboutus" class="img-fluid ">
           </figure >
            <h1>Opps! Page Not Found......</h1>
            <a href="/" ><button>Go home</button></a>
         </div>
         <!-- right side div -->
     </div>
    </div>
  <!-- footer code -->
  <footer>
    <p>here is the footer code.......</p>
  </footer>
</body>
</html>