<!-- file name must be index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
 {{>headlink}}
</head>
<body>
   {{>navbar}}
   <!-- main header -->
   <div class="container-fluid main_header">
     <div class="row">
        <!-- left side div -->
        <div class="col-md-5 col-6 main_header_right ">
         <figure>
            <img src="images/about.jpg" alt="aboutus" class="figure img-fluid">
        </figure>
         </div>
         <div class="col-md-6 col-6 main_header_left">
            <p>Welcome to the about section of website</p>
            <h1>My name is Abhishek Yadav,I am<span class="text_clr"> MERN developer</span> and <span class="text_clr">software engineer</span></h1>
            <a href="https://www.linkedin.com/in/abhishek-yadav-9a9a7b257/" target="_abhi"><button>check now</button></a>
         </div>
         <!-- right side div -->
     </div>
    </div>
  <!-- footer code -->
  <footer>
    <p>here is the footer code.......</p>
  </footer>
</body>
</html>